:root {
  font-family: "Montserrat", sans-serif;
  /*
	font-weight: 500;
	font-weight: 700;
	*/

  --main-color: #673399;
  --sub-color: #bd8fe8;
  --underline-color: orangered;

  --h1-font-size: 40px;
  --alt-font-size: 30px;
  --h2-font-size: 18px;
  --normal-font-size: 14px;
}

body {
  background-color: var(--main-color);
  cursor: default;
}

/* reset */
h1,
h2,
p,
ul,
li,
div {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

img {
  vertical-align: top;
}

/* layout */
.l_wrapper {
  max-width: 1080px;
  margin: 100px auto;
}

/* header */
/* 상단 여백을 메꾸기 위해 h1, p에 margin-top: -10px; (nagative margin) 추가 */
.header {
  display: flex;
  align-items: center;
  gap: 100px;
}

.header h1 {
  max-width: 280px;
  flex-shrink: 1;
  flex-grow: 0;
  position: relative;
  margin-top: -10px;
}

.header h1,
.header h1 strong {
  font-size: var(--h1-font-size);
  color: #fff;
  font-weight: 500;
  position: relative;
}

.header h1 strong {
  box-shadow: inset 0 -0.5em var(--underline-color);
}

.header h1::after {
  content: "";
  position: absolute;
  top: 50%;
  right: -80px;
  width: 80px;
  border-top: 2px solid var(--sub-color);
}

.header p {
  font-size: var(--normal-font-size);
  color: var(--sub-color);
  max-width: 450px;
  flex-shrink: 1;
  margin-top: -10px;
}

/* main */
.main {
  margin-top: 100px;
}

.card-list li:not(:last-child) {
  margin-bottom: 24px;
}

/* 짝수번째 카드 역순 */
.card-list li:nth-child(2n) > .card {
  flex-direction: row-reverse;
}

.card-list {
  display: flex;
  flex-direction: column;
  max-width: 100%;
}

/* 카드 */
.card {
  display: flex;
  position: relative;
  transition: transform 0.2s;
}

.card:hover {
  transform: translate(-5px, -5px);
}

.card-img {
  position: relative;
  flex-basis: 26%;
  flex-grow: 1;
  flex-shrink: 0;
}

.card-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card-img::before {
  content: " ";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: var(--main-color);
  opacity: 0.4;
  max-width: 100%;
}

.card-img::after {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-size: var(--alt-font-size);
}

.card.rest .card-img::after {
  content: "Rest";
}

.card.craft .card-img::after {
  content: "Craft";
}

.card.scrap .card-img::after {
  content: "Scrap";
}

.card .card-text {
  flex-basis: 0;
  flex-grow: 1;
  padding: 24px;
  background-color: #fff;
}

.card .card-text h2 {
  font-size: var(--h2-font-size);
  color: var(--main-color);
  margin-bottom: 32px;
}

.card .card-text ul li {
  font-size: var(--normal-font-size);
  position: relative;
  padding-left: 20px;
}

.card .card-text ul li::before {
  content: "";
  background-color: var(--sub-color);
  width: 10px;
  height: 10px;
  border-radius: 50%;
  position: absolute;
  top: 4px;
  left: 0;
}

.card .card-text li:not(:last-child) {
  margin-bottom: 10px;
}

/* media query */
@media (max-width: 840px) {
  .header {
    flex-direction: column;
    align-items: flex-start;
    gap: 50px;
  }
  .header h1::after {
    width: 0;
  }
}

@media (max-width: 700px) {
  .card-list li:nth-child(2n) > .card,
  .card {
    flex-direction: column;
  }
}
